main {
    background: linear-gradient(to top left, lightgray, whitesmoke);
}

nav {
    background-color: #f2edd4;
    padding: 15px;
    border-bottom: 3px solid whitesmoke;
    border-top: 3px solid whitesmoke;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;

        li {
            a {
                text-decoration: none;
                list-style-type: none;
                padding: 50px;
                font-family: "league spartan";
                font-size: 3.2rem;
                color: darkslateblue;
                font-weight: 500;
                text-shadow: whitesmoke;

                &:hover {
                    color: darkslategrey;

                }
            }
        }
    }
}


$parrafos:(fuente:"nautigal",
    estilo:italic,
    tamaño:2.8rem,
    color:black,
    alineacion:center,
);

/*INDEX*/

.mainIndex {
    .parrIndex {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 50px 75px 0px 75px;

        p {
            font-family: map-get($parrafos, fuente);
            font-style: map-get($parrafos, estilo);
            font-size: map-get($parrafos, tamaño);
            color: map-get($parrafos, color);
            text-align: map-get($parrafos, alineacion);

            span {
                font-weight: bold;
            }
        }
    }

    .imgIndex {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "imagen8 imagen8 imagen6 imagen4"
            "imagen8 imagen8 imagen1 imagen9"
        ;
        padding: 100px 75px 150px 75px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;



        .img1 {
            width: 100%;
            height: 100%;
            border: 2px solid black;
            grid-area: imagen1;
            border-radius: 10px;
        }

        .img2 {
            width: 100%;
            height: 100%;
            border: 2px solid black;
            grid-area: imagen2;
            border-radius: 10px;
        }

        .img3 {
            width: 100%;
            height: 100%;
            border: 2px solid black;
            grid-area: imagen3;
            border-radius: 10px;
        }

        .img4 {
            width: 100%;
            height: 100%;
            border: 2px solid black;
            grid-area: imagen4;
            border-radius: 10px;
        }

        .img5 {
            width: 100%;
            height: 100%;
            border: 2px solid black;
            grid-area: imagen5;
            border-radius: 10px;
        }

        .img6 {
            width: 100%;
            height: 100%;
            border: 2px solid black;
            grid-area: imagen6;
            border-radius: 10px;
        }

        .img7 {
            width: 100%;
            height: 100%;
            border: 2px solid black;
            grid-area: imagen7;
            border-radius: 10px;
        }

        .img8 {
            width: 100%;
            height: 100%;
            border: 2px solid black;
            grid-area: imagen8;
            border-radius: 10px;
        }

        .img9 {
            width: 100%;
            height: 100%;
            border: 2px solid black;
            grid-area: imagen9;
            border-radius: 10px;
        }

        .img10 {
            width: 100%;
            height: 100%;
            border: 2px solid black;
            grid-area: imagen10;
            border-radius: 10px;
        }
    }
}

/*SERVICIOS*/

.mainServicios {
    font-family: map-get($parrafos, fuente);
    font-style: map-get($parrafos, estilo);
    font-size: map-get($parrafos, tamaño);
    color: map-get($parrafos, color);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    span{
        font-weight: bold;
    }
    ul {
        li {
            list-style: none;
        }
    }

    h2 {
        font-family: "league spartan";
        font-style: normal;
        color: midnightblue;
        font-size: 3rem;
        text-decoration: none;
        font-weight: bold;
        padding: 25px 0px 25px 0px;
        text-align: center;

    }

    a {
        text-decoration: none;
        color: darkslateblue;
        font-weight: bold;


        button {
            color: black;
            font-family: "league spartan";
            font-weight: 600;
            font-size: 2rem;
            border: 1px solid black;
            border-radius: 5px;
            padding:5px;
            background-color: darkgray;
            &:hover {
                color: darkslateblue;

            }
        }
    }
}

/*GALERIA*/

.mainGaleria {
    h2 {
        font-family: "cairo";
        font-style: normal;
        color: midnightblue;
        font-size: 3rem;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        padding: 50px 0px 25px 0px;
    }

    .imgCab1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        padding: 20px 15px 50px 30px;
        
        img {
            width: 100%;
            height: 100%;
            border: 2px solid black;
            border-radius: 10px;
        }
    }

    .imgCab2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        padding: 20px 30px 50px 15px;

        img {
            width: 100%;
            height: 100%;
            border: 2px solid black;
            border-radius: 10px;
        }
    }
}



/*UBICACION*/

.mainUbicacion {
    display: flex;

    div {
        span {
            font-weight: bold;
        }

        p {
            font-family: map-get($parrafos, fuente);
            font-style: map-get($parrafos, estilo);
            font-size: map-get($parrafos, tamaño);
            color: map-get($parrafos, color);
            text-align: map-get($parrafos, alineacion);
            padding: 50px;
        }

    }

    div {
        iframe {
            margin: 0 auto;
            display: block;
            border: 2px solid black;
            padding-bottom: 50px;
            border-radius: 20px;
        }

    }
}

/*CONTACTO*/

.mainContacto {
    p {
        font-family: map-get($parrafos, fuente);
        font-style: map-get($parrafos, estilo);
        font-size: map-get($parrafos, tamaño);
        color: map-get($parrafos, color);
        text-align: map-get($parrafos, alineacion);
        padding: 30px;

        span {
            font-weight: bold;
        }

        .emoji {
            font-style: normal;
        }
    }

    .mail {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        font-size: 2.5rem;
        font-family: "cairo";
        input{
           border: 2px solid black; 
           border-radius: 10px;
           text-align: center;    
        }
    }

    .consulta {
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        padding-top: 50px;
        padding-bottom: 25px;
        font-family: "cairo";
        textarea{
            border: 2px solid black; 
            border-radius: 10px;    
         }
    }

    .envio {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        padding-bottom: 50px;
        input{
            color: black;
            font-family: "league spartan";
            font-size: 2rem;
            font-weight: 600;
            border: 1px solid black;
            padding:5px;
            background-color: darkgray;
            &:hover{
                color: darkslateblue;
            }
            
        }

    }

    .comentario {
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        padding-bottom: 25px;
        textarea{
            border: 2px solid black; 
            border-radius: 10px;    
         }
    }

}